trunk/quarix/com/quarix/data/xsd/DataResponse.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio 6.1.18.0 - FREE Community Edition (http://www.liquid-technologies.com)-->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rsp">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="1" name="data" nillable="true">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element minOccurs="1" maxOccurs="1" name="datasection">
                <xs:complexType>
                  <xs:sequence>
                    <xs:any minOccurs="1" maxOccurs="1" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="err">
          <xs:complexType>
            <xs:attribute name="tbl" type="xs:string" use="optional" />
            <xs:attribute name="type" use="required">
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="0" />
                  <xs:maxInclusive value="4" />
                </xs:restriction>
              </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="col" type="xs:string" use="optional" />
            <xs:attribute name="msg" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="tbl">
          <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="required" />
            <xs:attribute name="pos" type="xs:int" use="optional" />
            <xs:attribute name="first" type="xs:boolean" use="optional" />
            <xs:attribute name="last" type="xs:boolean" use="optional" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>