quarix-20130206/com/quarix/data/xsd/DataCollection.xsd

<?xml version="1.0" encoding="utf-8" ?>
<!--Created with Liquid XML Studio Developer Edition (Trial) 8.1.7.2743 (http://www.liquid-technologies.com)-->
<xsd:schema xmlns:prodata="urn:schemas-progress-com:xml-prodata:0001" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:element prodata:proDataSet="true" name="datasetMsg">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="action" minOccurs="1" maxOccurs="1">
                    <xsd:complexType>
                        <xsd:sequence />
                        <xsd:attribute prodata:userOrder="1" name="command" type="xsd:string" use="required" />
                        <xsd:attribute prodata:userOrder="2" name="responseFormat" default="json">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="json" />
                                    <xsd:enumeration value="xml" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                    </xsd:complexType>
                </xsd:element>
                <xsd:element name="daoMsg" minOccurs="1" maxOccurs="unbounded">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="filter" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence />
                                    <xsd:attribute prodata:userOrder="1" name="fld" type="xsd:string" use="required" />
                                    <xsd:attribute prodata:userOrder="2" name="op" use="required">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:enumeration value="eq" />
                                                <xsd:enumeration value="=" />
                                                <xsd:enumeration value="ne" />
                                                <xsd:enumeration value="&lt;&gt;" />
                                                <xsd:enumeration value="lt" />
                                                <xsd:enumeration value="&lt;" />
                                                <xsd:enumeration value="le" />
                                                <xsd:enumeration value="&lt;=" />
                                                <xsd:enumeration value="gt" />
                                                <xsd:enumeration value="&gt;" />
                                                <xsd:enumeration value="ge" />
                                                <xsd:enumeration value="&gt;=" />
                                                <xsd:enumeration value="begins" />
                                                <xsd:enumeration value="between" />
                                                <xsd:enumeration value="matches" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                    <xsd:attribute prodata:userOrder="3" name="val" type="xsd:string" />
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="sort" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence />
                                    <xsd:attribute prodata:userOrder="1" name="fld" type="xsd:string" use="required" />
                                    <xsd:attribute prodata:userOrder="2" name="rev" type="xsd:boolean" use="optional" />
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="row" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence minOccurs="1" maxOccurs="unbounded">
                                        <xsd:element name="rowImage" minOccurs="1" maxOccurs="unbounded">
                                            <xsd:complexType>
                                                <xsd:sequence>
                                                    <xsd:element name="fld" minOccurs="0" maxOccurs="unbounded">
                                                        <xsd:complexType>
                                                            <xsd:simpleContent prodata:fieldName="val" prodata:dataType="prodata:clob" prodata:userOrder="2">
                                                                <xsd:extension base="xsd:string">
                                                                    <xsd:attribute prodata:userOrder="1" name="name" type="xsd:string" use="required" />
                                                                </xsd:extension>
                                                            </xsd:simpleContent>
                                                        </xsd:complexType>
                                                    </xsd:element>
                                                </xsd:sequence>
                                                <xsd:attribute prodata:userOrder="1" name="id" type="xsd:string" />
                                                <xsd:attribute prodata:userOrder="2" name="type" use="required">
                                                    <xsd:simpleType>
                                                        <xsd:restriction base="xsd:string">
                                                            <xsd:enumeration value="bi" />
                                                            <xsd:enumeration value="ai" />
                                                        </xsd:restriction>
                                                    </xsd:simpleType>
                                                </xsd:attribute>
                                            </xsd:complexType>
                                        </xsd:element>
                                    </xsd:sequence>
                                    <xsd:attribute prodata:userOrder="1" name="id" type="xsd:string" use="required" />
                                    <xsd:attribute prodata:userOrder="2" name="state" default="0">
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:int">
                                                <xsd:minInclusive value="0" />
                                                <xsd:maxInclusive value="3" />
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:attribute>
                                </xsd:complexType>
                            </xsd:element>
                            <xsd:element name="srch" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence />
                                    <xsd:attribute prodata:userOrder="1" name="fld" type="xsd:string" use="required" />
                                    <xsd:attribute prodata:userOrder="3" name="val" type="xsd:string" />
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute prodata:userOrder="1" name="id" type="xsd:string" use="required" />
                        <xsd:attribute prodata:userOrder="2" name="command" type="xsd:string" use="required" />
                        <xsd:attribute prodata:userOrder="3" name="responseFormat" default="json">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:enumeration value="json" />
                                    <xsd:enumeration value="xml" />
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:attribute>
                        <xsd:attribute prodata:userOrder="4" name="startRowId" type="xsd:string" use="optional" />
                        <xsd:attribute prodata:userOrder="5" name="startRow" type="xsd:int" use="optional" />
                        <xsd:attribute prodata:userOrder="6" name="batchSize" type="xsd:int" use="optional" />
                        <xsd:attribute prodata:userOrder="7" name="skipRow" type="xsd:boolean" use="optional" />
                        <xsd:attribute prodata:userOrder="8" name="prefetch" type="xsd:boolean" use="optional" />
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:annotation>
        <xsd:appinfo>
      <prodata:relation name="msgFilter" prodata:nested="true" prodata:parent="dao-msg" prodata:child="filter" prodata:relationFields="id,msgId" />
      <prodata:relation name="msgSort" prodata:nested="true" prodata:parent="dao-msg" prodata:child="sort" prodata:relationFields="id,msgId" />
      <prodata:relation name="msgRow" prodata:nested="true" prodata:parent="dao-msg" prodata:child="row" prodata:relationFields="id,msgId" />
      <prodata:relation name="msgRowImg" prodata:nested="true" prodata:parent="row" prodata:child="rowimage" prodata:relationFields="msgId,msgId,rowid,rowid" />
      <prodata:relation name="msgRowImg" prodata:nested="true" prodata:parent="rowimage" prodata:child="fld" prodata:relationFields="msgId,msgId,rowid,rowid,type,type" />
    </xsd:appinfo>
    </xsd:annotation>
</xsd:schema>
